<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>品质检验</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="../js/mui.min.js"></script>
		<script src="../js/api.js"></script>
		<script src="../js/template-web.js"></script>
		<script src="../js/jquery.js"></script>
		<script src="../js/jquery-1.11.1.js"></script>
		<script src="../js/jquery.xml2json.js.js"></script>
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/comment.css" />
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">品质检验</h1>
		</header>
		<div class="mui-content">
			<form class="mui-input-group" id="formId">
				<div class="mui-input-row ">
					<label>检验节点</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="selectPoint">
							</select>
						</span>
					</a>
				</div>
				<div class="mui-input-row">
					<label onclick="clicked('commom/saomiao.html','boxCode','web/qual_inspect.html');">箱号条码</label>
					<input id="boxCode" placeholder="请扫描" type="text" class="mui-input-clear">
				</div>
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-collapse mui-active">
						<a class="mui-navigate-right" href="#">条码信息</a>
						<div class="mui-collapse-content">
								<p style="font-size: 1.005rem;">箱数:&nbsp;<span id="boxCount"></span></p>
								<p style="font-size: 1.005rem;">产品总数:&nbsp; <span id="sum"></span></p>
						</div>
					</li>
				</ul>
				<div class="mui-input-row">
					<label>抽检总量</label>
					<input id="checkTot" placeholder="请输入抽检总量(PCS)" type="text" class="mui-input-clear" onkeyup="value=(value.replace(/\D/g,'')==''?'':parseInt(value))">
				</div>
				<div class="mui-input-row">
					<label>不良总量</label>
					<input id="badTot" placeholder="请输入不良总量(PCS)" value="0" type="text" class="mui-input-clear" onkeyup="value=(value.replace(/\D/g,'')==''?'':parseInt(value))">
				</div>
				<div class="mui-input-row">
					<label>检验结果</label>
					<span class="radio_inline mui-radio">
						<input name="radio1" type="radio" id="A" value="A" checked>
						<label for="A">合格</label>
						<input name="radio1" type="radio" id="B" value="B">
						<label for="B">不合格</label>
					</span>
				</div>
				<div class="mui-input-row">
					<label>责任部门</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="selectDepart">

							</select>
						</span>
					</a>
				</div>
				<!-- <div class="mui-input-row">
					<label>不良内容</label>
					<a class="mui-navigate-right">
						<span class="mui-badge1">
							<select class="mui-h5" style="margin:auto; color:#000;" id="badContent" multiple>
							</select>
						</span>
					</a> 
				</div> -->
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">不良内容<span id="recordNum">（已增加0条记录）</span></a>
						<div class="mui-collapse-content">
							<form class="mui-input-group" id="formId">
								<div class="mui-input-row ">
									<label>不良内容</label>
									<a class="mui-navigate-right">
										<span class="mui-badge1">
											<select class="mui-h5" style="margin:auto; color:#000;" id="badContent">
											</select>
										</span>
									</a>
								</div>
								<div class="mui-input-row ">
									<label>不良数量</label>
									<input id="badNum" placeholder="请输入对应不良数量" type="text" class="mui-input-clear" onkeyup="value=(value.replace(/\D/g,'')==''?'':parseInt(value))">
								</div>
								<div class="mui-content-padded" align="center">
									<button style="margin-right: 0.525rem; float: left;width: 45%;" type="button" class="mui-btn mui-btn-primary"
									 id="saveBad">保存</button>
									<button style="width: 45%;" type="button" class="mui-btn mui-btn" id="resetBad">重置</button>
								</div>
							</form>
							<div>
								<ul class="mui-table-view" id="bad_ul">
								</ul>
								<script id='bd-template' type="text/template">
									<% for(var i in record){ var item=record[i];%>
									{{if i==0}}
									<li class="mui-table-view-cell"><%=(item.badItem)%> 
										<span class="mui-badge mui-badge-primary"><%=(item.qty)%></span>
									</li>
									{{else}}
									<li class="mui-table-view-cell" data-bad='<%=(item)%>' data-index='<%=(i)%>'>
									<span class="mui-icon mui-icon-close"></span><%=(item.badName)%>
										<span class="mui-badge mui-badge-primary"><%=(item.qty)%></span>
									</li>
									{{/if}}
									<%}%>
								</script>
								<!-- <li class="mui-table-view-cell">不良原因
									<span class="mui-badge mui-badge-primary">数量</span>
								</li> -->
							</div>
						</div>
					</li>
				</ul>
				<ul class="mui-table-view" id="barcodeId">
				</ul>
				<script id='template' type="text/template">
					<% for(var i in record){ var item=record[i];%>
					{{if i==0}},
					<li class="mui-table-view-cell"><%=(item.boxCode)%>
						<span class="mui-badge mui-badge-success"><%=(item.qty)%></span>
					</li>
					{{else}}
					<li class="mui-table-view-cell" data-code='<%=(item)%>' data-index='<%=(i)%>'><span class="mui-icon mui-icon-close"></span><%=(item.boxCode)%>
						<span class="mui-badge mui-badge-success"><%=(item.qty)%></span>
					</li>
					{{/if}}
					<%}%>
				</script>
			</form>
			<div class="mui-content-padded" align="center">
				<button type="button" class="mui-btn mui-btn-green" data-loading-icon="mui-spinner mui-spinner-custom" id="saveData">保存数据</button>
				<button style="margin-top: 0.625rem;" type="button" class="mui-btn mui-btn-warning" id="clearData">清除数据</button>
			</div>
		</div>
	</body>
	<script>
		mui.init();
		var barcodeList = []; //条码集
		var badContenList = []; //不良内容集
		var badItemSum = 0; //录入的不良内容总数
		var barcodeItemSum = 0; //录入的条码数量之和，产品总数
		mui.plusReady(function() {
			getProcList(); //获取检验节点列表
			getDepartList(); //获取责任部门列表、
			getBadList(); //获取不良内容列表
		})

		window.addEventListener("changeBar", function(e) {
			var inputId = e.detail.inputId
			document.getElementById(inputId).value = e.detail.barcode;
			if (inputId == "boxCode") {
				doCheckBarCode();
			}
		});

		$("#selectPoint").change(function() {
			toClean();
		})
		//不良信息删除
		mui("#bad_ul").on("tap", "li", function() {
			var bad_data = this.getAttribute('data-bad'); //被选中项
			var index = this.getAttribute('data-index'); //下标

			if (bad_data == null) {
				return false;
			}
			bad_data = JSON.parse(bad_data)
			mui.confirm("是否要删除【" + bad_data.badName + "，数量" + bad_data.qty + "】不良记录？", "提示", ['否', '是'], function(e) {
				if (e.index == 1) {
					badItemSum=badItemSum-parseInt(bad_data.qty);//更新不良总数
					badContenList.splice(index, 1);
					var count = badContenList.length - 1
					if (badContenList.length == 1) {
						badContenList.splice(0, 1); //去除表头
					}
					mui.alert("删除成功")
					document.getElementById('bad_ul').innerHTML = template('bd-template', {
						"record": badContenList
					});
					var string = "（已增加" + count + "条记录）"
					$("#recordNum").text(string);
				}
			})
		})
		//条码删除
		mui("#barcodeId").on("tap", "li", function() {
			var code_data = this.getAttribute('data-code'); //被选中项
			var index = this.getAttribute('data-index'); //下标
			if (code_data == null) {
				return false;
			}
			code_data = JSON.parse(code_data)
			mui.confirm("是否要删除【" + code_data.boxCode + "】条码？", "提示", ['否', '是'], function(e) {
				if (e.index == 1) {
					console.log(barcodeItemSum)
					barcodeItemSum=parseInt(barcodeItemSum)-parseInt(code_data.qty);//更新生产总数
					console.log(barcodeItemSum)
					barcodeList.splice(index, 1);
					var count = barcodeList.length - 1;//更新条码记录数
					if (barcodeList.length == 1) {
						barcodeList.splice(0, 1); //去除表头
					}
					mui.alert("删除成功");
					document.getElementById('barcodeId').innerHTML = template('template', {
						"record": barcodeList
					});
					var string = "已录入【" + count + "】箱"
					$("#sum").text("已录入【"+barcodeItemSum+"】");
					$("#boxCount").text(string);
				}
			})
		})


		$("#saveBad").click(function() {
			var bad_tot = $("#badTot").val();
			if (bad_tot == "" || bad_tot == "0") {
				mui.alert("请先输入不良总量");
				return false
			}
			var bad_content = $("#badContent").val();
			var bad_num = $("#badNum").val();
			var bad_name = $("#badContent option:checked").text();
			var result = parseInt(badItemSum) + parseInt(bad_num); //预先检查录入的不良的总数量是否小于等于不良总数
			if (bad_content == "" || bad_num == "") {
				mui.alert("请完善不良信息")
				return false;
			} else if (bad_tot < result) {
				mui.alert("录入不良数量已超出大于不良总量，请检查")
				return false;
			}
			if (badContenList.length == 0) {
				var arr = {};
				//arr["badName"] = "不良原因";
				arr["badItem"] = "不良原因";
				arr["qty"] = "数量";
				badContenList.push(arr);
			}
			//判断不良内容是否有重复
			for (var i = 1; i < badContenList.length; i++) {
				if (badContenList[i].badName == bad_name) {
					mui.alert("不良内容【" + bad_name + "】已存在，请勿重复添加", function() {
						$("#badContent").val("");
						$("#badNum").val("");
					})
					return false;
				}
			}
			var arr = {};
			arr["badName"] = bad_name;
			arr["badItem"] = bad_content;
			arr["qty"] = bad_num;
			badContenList.push(arr);
			var count = badContenList.length - 1;
			var string = "（已增加" + count + "条记录）";
			badItemSum = parseInt(badItemSum) + parseInt(bad_num) //记录已录入的不良总数量
			$("#recordNum").text(string);
			$("#badContent").val("");
			$("#badNum").val("");
			mui.toast("添加成功")
			document.getElementById('bad_ul').innerHTML = template('bd-template', {
				"record": badContenList
			});
		})

		function getProcList() { //获取检验节点列表
			aj.post('produce/inspect/getProcList', {
				company: api_localStorageGet("company"),
				factory: api_localStorageGet("factory"),
				userId:api_localStorageGet("code"),//2020-12-01 新增
				keyword: ""
			}, function(data) {
				//console.log(JSON.stringify(data))
				if (data.result) {
					var list = data.data;
					for (var i = 0; i < list.length; i++) {
						if (i == 0) {
							$("#selectPoint").append("<option value=''>请选择检验节点</option>");
						}
						$("#selectPoint").append("<option value=" + list[i].PROC_NO + ">" + list[i].PROC_NAME + "</option>");
					}
				} else {
					mui.alert(data.msg)
				}
			})
		}

		$("#boxCode").bind('keyup', function(event) {
			if (event.keyCode == "13" || event.keyCode == "9") { //输入回车执行
				doCheckBarCode()
			}
		})

		function doCheckBarCode() { //扫描条码-执行操作
			var box_code = $("#boxCode").val();
			if ($("#selectPoint").val() != "" && box_code != "") {
				aj.post('produce/inspect/scanBarcode', {
					company: api_localStorageGet("company"),
					factory: api_localStorageGet("factory"),
					user_id: api_localStorageGet("code"),
					proc: $("#selectPoint").val(),
					barcode: box_code
				}, function(data) {
					console.log(JSON.stringify(data))
					if (data.result) {
						var list = data.data;
						//增加表头字段
						if (barcodeList.length == 0) {
							var arr = {};
							arr["boxCode"] = "箱号条码";
							arr["qty"] = "数量";
							barcodeList.push(arr);
						}
						//检查条码是否重复
						for (var i = 1; i < barcodeList.length; i++) {
							if (barcodeList[i].boxCode == box_code) {
								mui.alert("条码【" + box_code + "】已存在，请勿重复扫描", function() {
									$('#boxCode').focus();
									$('#boxCode').val("");
								})
								return false;
							}
						}
						var arr = {};
						arr["boxCode"] = box_code;
						arr["qty"] = list[0].QTY;
						// if (barcodeList.length >= 1001) {
						// 	mui.alert("一次最多提交100个箱条码")
						// 	return false;
						// }
						barcodeList.push(arr);
						var count = barcodeList.length - 1;
						var string = "已录入【" + count + "】箱";
						barcodeItemSum = parseInt(barcodeItemSum) + parseInt(list[0].QTY);
						var string2 = "已录入【" + barcodeItemSum + "】"
						$("#sum").text(string2); //产品总数
						$("#boxCount").text(string); //箱数（条码记录数）
						document.getElementById('barcodeId').innerHTML = template('template', {
							"record": barcodeList
						});
						$('#boxCode').focus();
						$('#boxCode').val("");
					} else {
						$("#boxCode").val("");
						mui.alert(data.msg)
					}
				})
			} else {
				mui.alert("请先完善数据")
			}
		}

		function getDepartList() {
			aj.post('produce/inspect/getDepatrList', {
				company: api_localStorageGet("company"),
				factory: api_localStorageGet("factory"),
				keyword: ""
			}, function(data) {
				//console.log(JSON.stringify(data))
				if (data.result) {
					var list = data.data;
					for (var i = 0; i < list.length; i++) {
						if (i == 0) {
							$("#selectDepart").append("<option value=''>请选择责任部门</option>");
						}
						$("#selectDepart").append("<option value=" + list[i].ID + ">" + list[i].LEAD_BY + "</option>");
					}
				} else {
					mui.alert(data.msg)
				}
			})
		}

		function getBadList() {
			aj.post('produce/inspect/getBadList', {
				company: api_localStorageGet("company"),
				factory: api_localStorageGet("factory"),
				keyword: ""
			}, function(data) {
				//console.log(JSON.stringify(data))
				if (data.result) {
					var list = data.data;
					for (var i = 0; i < list.length; i++) {
						if (i == 0) {
							$("#badContent").append("<option value=''>请选择不良内容</option>");
						}
						$("#badContent").append("<option value=" + list[i].DEFECT_CODE + ">" + list[i].DEFECT_NAME + "</option>");
					}
				} else {
					mui.alert(data.msg)
				}
			})
		}
		$("#saveData").click(function() {
			var proc = $("#selectPoint").val();
			var chkTotal = $("#checkTot").val();
			var badTotal = $("#badTot").val();
			var chkResult = $('input[name="radio1"]:checked').val();
			if (chkResult == "A") {
				chkResult = "合格"
			} else {
				chkResult = "不合格"
			}
			var depart = $("#selectDepart").val();
			var badContent = badContenList;

			if (proc == "" || chkTotal == "" || badTotal == "") {
				mui.alert("请完善数据")
				return false;
			}
			if (badTotal > 0 && chkResult == "合格") {
				mui.alert("不良总量数量大于0，请选择检验结果不合格。")
				return false;
			}
			if (chkResult == "不合格") {
				if (depart == "" || badContent.length == 0) {
					mui.alert("检验结果不合格，需填入责任部门和不良信息。")
					return false;
				} else if (badTotal == "0" || badTotal == "") {
					mui.alert("检验结果不合格，需填入不良总量。")
					return false;
				}
			}

			if (badContent.length != 0 || badContent.length != 1) {
				var badList = "";
				for (var i = 1; i < badContent.length; i++) {
					badList += badContent[i].badItem + "@" + badContent[i].qty + ","
				}
				badList = badList.substring(0, badList.length - 1);
			}
			var codeList = "";
			//console.log(JSON.stringify(barcodeList))
			for (var i = 1; i < barcodeList.length; i++) {
				codeList += barcodeList[i].boxCode + ","
				console.log(codeList)
			}
			codeList = codeList.substring(0, codeList.length - 1);
			console.log(proc + "/" + chkTotal + "/" + badTotal + "/" + chkResult + "/" + depart + "/" + badList + "/" +
				codeList)
			saveChkData(proc, chkTotal, badTotal, chkResult, depart, badList, codeList);
		})

		function saveChkData(proc, chkTotal, badTotal, chkResult, depart, badList, codeList) {
			aj.post('produce/inspect/saveData', {
				company: api_localStorageGet("company"),
				factory: api_localStorageGet("factory"),
				user_id: api_localStorageGet("code"),
				proc: proc,
				barcodeList: codeList,
				checkTotal: chkTotal,
				badTotal: badTotal,
				chkResult: chkResult,
				departCode: depart,
				badList: badList
			}, function(data) {
				console.log(JSON.stringify(data))
				if (data.result) {
					mui.alert("数据保存成功");
					toClean();
				} else {
					mui.alert(data.msg)
				}
			})
		}
		//敲回车切换下一栏事件

		$("#checkTot").bind('keyup', function(event) {
			if (event.keyCode == "13") {
				$('#badTot').focus();
			}
		})

		$("#clearData").click(function() {
			$("#selectPoint").val("");
			toClean();
		})
		
		$("#resetBad").click(function(){
			$("#badContent").val("");
			$("#badNum").val("");
		})

		function toClean() {
			$("#boxCode").val("");
			$("#cust_s").text("");
			$("#devType").text("");
			$("#liner").text("");
			$("#badPer").text("");
			$("#checkTot").val("");
			$("#badTot").val("0")
			barcodeList = [];
			document.getElementById('barcodeId').innerHTML = template('template', {
				"record": barcodeList
			});
			badContenList = [];
			document.getElementById('bad_ul').innerHTML = template('bd-template', {
				"record": badContenList
			});
			$("#selectDepart").val("");
			badItemSum = 0;//记录已录入的不良总数量
			barcodeItemSum=0;
			$("#sum").text("");
			$("#boxCount").text("");
			
			$("#recordNum").text("（已增加0条记录）");
			$("#badContent").val("");
			$("#badNum").val("");
			//-----无法重置到合格项
			$("input[name='radio1'][value=A]").attr("checked", true);
		}

		function clicked(url, f1, urlId) {
			OpenWindow(f1, url, {
				urlId: urlId,
				inputId: f1
			});
		};
	</script>
</html>
